<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/test.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
       <div class="jumbotron">
           <h1>我的第一个Bootstrap页面</h1>
           <p>重置窗口大小，查看响应式效果！</p>
       </div>
        <div class="row">
            <div class="col-xs-4 ss">
                <h3>第一列</h3>
                <p>学的不仅是技术，更是梦想</p>
                <p>再牛逼的梦想，也抵不住你傻逼似的坚持！</p>
            </div>
            <div class="col-xs-4">
                <h3>第一列</h3>
                <p>学的不仅是技术，更是梦想</p>
                <p>再牛逼的梦想，也抵不住你傻逼似的坚持！</p>
            </div>
            <div class="col-xs-4">
                <h3>第一列</h3>
                <p>学的不仅是技术，更是梦想</p>
                <p>再牛逼的梦想，也抵不住你傻逼似的坚持！</p>
            </div>
        </div>
    </div>
</body>
</html>