<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>图片</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <!--给图片添加圆角-->
    <img src="../img/img_1.jpg" class="img-rounded">
    <!--图片变成圆形-->
    <img src="../img/img_1.jpg" class="img-circle">
    <!--缩略图功能-->
    <img src="../img/img_1.jpg" class="img-thumbnail">
    <!--相应式图片 没有弄懂-->
    <img src="../img/img_1.jpg" class="img-responsive" width="300" height="300">
</body>
</html>