<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>辅助类</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>实例</h2>
        <p>.caret显示了一个下拉的功能：<span class="caret"></span></p>
        <p>.caret类在按钮中使用</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Menu<span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">一个链接</a></li>
                <li><a href="#">另一个链接</a></li>
                <li><a href="#">其他功能</a></li>
            </ul>
        </div>
    </div>
</body>
</html>