<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>相应式实用工具</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="padding: 40px;">
        <div class="row visible-on">
            <div class="col-xs-6 col-sm-3" style="background-color: #dedef8;box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <span class="hidden-xs">特别小型</span>
                <span class="visible-xs">✔ 在特别小型设备上可见</span>
            </div>
            <div class="col-xs-6 col-sm-3" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <span class="hidden-sm">小型</span>
                <span class="visible-sm">✔ 在小型设备上可见</span>
            </div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-3" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <span class="hidden-md">中型</span>
                <span class="visible-md">✔ 在中型设备上可见</span>
            </div>
            <div class="col-xs-6 col-sm-3" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <span class="hidden-lg">大型</span>
                <span class="visible-lg">✔ 在大型设备上可见</span>
            </div>
        </div>
    </div>
</body>
</html>