<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>字体图标</title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>
<body>
    <p>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-sort-by-attributes"></span>
        </button>
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </p>
</body>
</html>