<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>偏移列</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>hello word</h1>
        <div class="row">
            <div class="col-xs-3">cd</div>
            <div class="col-xs-6" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                </p>
            </div>
        </div>
    </div>
</body>
</html>