<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>标题</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p class="text-left">左边</p>
        <p class="text-center">中间</p>
        <p class="text-muted">本行内容是减弱的</p>
        <p class="text-primary">本行内容带有一个 primary class</p>
        <p class="text-success">本行内容带有一个 success class</p>
        <p class="text-info">本行内容带有一个 info class</p>
        <p class="text-warning">本行内容带有一个 warning class</p>
        <p class="text-danger">本行内容带有一个 danger class</p>

        <abbr title="fdsfdsfds">www</abbr>

        <address>
            <strong>Some Company, Inc.</strong><br>
            007 street<br>
            Some City, State XXXXX<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>

        <blockquote><p>
            这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。这是一个默认的引用实例。</p></blockquote>
        <blockquote>这是一个带有源标题的引用。<small>Someone famous in <cite title="Source Title">Source Title</cite></small></blockquote>

        <h4>有序列表</h4>
        <ol>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
        </ol>

        <h4>无序列表</h4>
        <ul>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
            <li>Item 1</li>
        </ul>

        <h4>未定义样式列表</h4>
        <ul class="list-unstyled">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>
        <h4>内联列表</h4>
        <ul class="list-inline">
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
        </ul>

        <h4>定义列表</h4>
        <dl>
            <dt>Description s</dt>
            <dd>Item 1</dd>
            <dt>Description s</dt>
            <dd>Item 2</dd>
        </dl>

        <h4>水平的定义列表</h4>
        <div>
            <dl class="dl-horizontal">
                <dt>Description s</dt>
                <dd>Item 1</dd>
                <dt>Description s</dt>
                <dd>Item 2</dd>
            </dl>
        </div>


        <p>设置 pre 元素可滚动：</p>

		<pre  style="height: 100px;">
		内容可滚动
		Text in a pre element
		is displayed in a fixed-width
		font, and it preserves
		both      spaces and
		line breaks.
		Text in a pre element
		is displayed in a fixed-width
		font, and it preserves
		both      spaces and
		line breaks.
		</pre>
    </div>
</body>
</html>