<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>代码</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
    <p><code>&lt;header&gt</code>作为内联元素被包围</p>
    <p>如果需要把代码显示为一个独立的块元素，请使用 &lt;pre&gt; 标签：</p>
    <pre>
        &lt;article&gt;
        &lt;h1&gt;Article Heading&lt;/h1&gt;
        &lt;/article&gt;
    </pre>
</body>
</html>