<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>表格</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <td>名称</td>
            <td>城市</td>
        </tr>
        </thead>
        <tbody>
        <tr class="active">
            <td>Tanmay</td>
            <td>Bangalore</td>
        </tr>
        <tr class="success">
            <td>Sachin</td>
            <td>Mumbai</td>
        </tr>
        <tr class="bg-warning">
            <td>Uma</td>
            <td>Pune</td>
        </tr>
        <tr class="bg-danger">
            <td>Uma</td>
            <td>Pune</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>