<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap-switch.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-switch.css">
</head>
<body>
    <!--<div class="container">-->
       <!--<div class="jumbotron">-->
           <!--<h1>我的第一个Bootstrap页面</h1>-->
           <!--<p>重置窗口大小，查看响应式效果！</p>-->
       <!--</div>-->
       <!--<div class="row">-->
           <!--<div class="col-md-4 col-lg-10">-->
               <!--<h3>第一列</h3>-->
               <!--<p>学的不仅是技术，更是梦想</p>-->
               <!--<p>再牛逼的梦想，也抵不住你傻逼似的坚持！</p>-->
           <!--</div>-->
           <!--<div class="col-md-8 col-lg-2">-->
               <!--<h3>第一列</h3>-->
               <!--<p>学的不仅是技术，更是梦想</p>-->
               <!--<p>再牛逼的梦想，也抵不住你傻逼似的坚持！</p>-->
           <!--</div>-->

       <!--</div>-->
    <!--</div>-->
    <input id="switch-onColor" type="checkbox" checked data-on-color="info">
    <div class="switch switch-large">
        <input type="checkbox" checked />
    </div>

    <div class="switch">
        <input type="checkbox" checked />
    </div>

    <div class="switch switch-small">
        <input type="checkbox" checked />
    </div>

    <div class="switch switch-mini">
        <input type="checkbox" checked />
    </div>

    <div class="switch" data-on="primary" data-off="info">
        <input type="checkbox" checked />
    </div>
    <script>
    $(function(argument) {
    $('[type="checkbox"]').bootstrapSwitch();
    })
    </script>
</body>
</html>